* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    height: auto;
    width: 100%;
    background-image: url(heroes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.content {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.countdown {
    margin: 5%;
}
.alert {
    padding: 2% 3%;
    border-radius: 5px;
    border: solid 1px;
    font-size: 15px;
    margin-top: 3%;
}

.success {
    color: green;
    border-color: green;
}

.error {
    color: red;
    border-color: red;
}

.countdown {
    width: 400px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: solid #b8860b 8px;
    border-radius: 50%;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.title {
    font-size: 30px;
}

.timer {
    font-size: 25px;
    margin-top: 3%;
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}

li span {
    font-size: 37px;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 5%;
    border-radius: 10px;
    text-align: center;
}

.delete {
    cursor: pointer;
    color: #b8860b;
}

